.PokemonListButton button {
    margin: 30px;
    background-color: #28445D;
    color: #EFE9D5;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}

.PokemonListButton button:hover {
    background-color: #EFE9D5;
    color: #28445D;
}

.PokemonListButton button:disabled {
    background-color: #d3d3d3;
    color: #a0a0a0;
    cursor: not-allowed;
}