.PokemonListContainer {
    text-align: center;
    padding: 20px;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.PokemonListHeading {
    margin-bottom: 30px;
}

.PokemonListBody {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.PokemonListCard {
    background: white;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    padding: 15px;
    max-width: 400px;
    width: 100%;
}

.PokemonListCard:hover {
    transform: scale(1.05);
}

.PokemonListImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.PokemonListLink {
    width: 100%;
    display: block;
    text-decoration: none;
}

.PokemonListLink .MuiTypography-root {
    color: #3b4cca;
    font-weight: bold;
    padding: 10px 0;
    background-color: #ffcb05;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: block;
}

.PokemonListLink .MuiTypography-root:hover {
    background-color: #FFE69D;
}

.PokemonListButton button {
    margin: 30px;
    background-color: #28445D;
    color: #EFE9D5;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}

.PokemonListButton button:hover {
    background-color: #EFE9D5;
    color: #28445D;
}

.PokemonListButton button:disabled {
    background-color: #d3d3d3;
    color: #a0a0a0;
    cursor: not-allowed;
}